# Ignore token.json file
**/token.json

# Ignore environment variable files
*.env

# Ignore pychache 
__pycache__/

#ignore the docker file
docker-compose.yml

# Ignore .DS_Store files (macOS)
.DS_Store